---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
    {{ page.date | date_to_string }}
    {% assign author = site.members | where: 'short_name', page.author | first %}
    {% if author %}
      - <a href="{{ author.url }}">{{ author.short_name }}</a>
    {% endif %}
    {% if page.categories contains 'event' or page.categories contains 'session' %}
      {% if page.categories contains 'event'%}
        - Événement :
      {% else %}
        - Séance :
      {% endif %}

      {% if page.event-date %}
        <i class="nf nf-fa-calendar"></i> {{ page.event-date }}
      {% endif %}
      {% if page.event-place %}
      <i class="nf nf-fa-location_dot"></i> {{ page.event-place }}
      {% endif %}
    {% endif %}
</p>

{{ content }}

